..and what about sender?

Hello.
I mentioned this milter on mailsec@ietf.org, coming via postconf(5):

  https://mailarchive.ietf.org/arch/msg/mailsec/L0kFrsKkgeD0BgE1YrTddmASXfg

I had never looked before.  Out of interest i now had a look at the code, and i only wonder, since 5322 etc want that Sender: is to be set when From: contains multiple entries, you know?  Of course DKIM goes for RFC 5322.From, but that was always an error.. *imho*.
Having said that, DKIM only goes for the very first address of From:, the remains are silently ignored.  (Always an error, *imho*.)  In that respect, it seems to me testing the first address is sufficient.
Note i have never used libmilter either.

Hello Steffen,

what do you exactly mean? Should we implement the same checks on the "Sender" header field or should we stop checking after the first entry in From? Or should we only check for the sender if it is present?

I don't know the standards so good.. But I aggree that we should compy with them as long as email clients also comply with them. The purpose of this milter is that nobody can spoof addresses from other local users.

Hallo Max.
I would say, it depends on what you want.

Because you explicitly mention OpenDKIM as a reason for the milter as such, i assume you want it to ensure that no address spoofing that survives DKIM can happen.
If that is the case, then checking only the first address in From: is sufficient.
(And i hope the milter gets data in the order of the message: i never used libmilter, i only know it is multithreaded?)
(And i mean, maybe make it a command line option or so, for other use cases.)

Unfortunately DKIM (and DMARC etc) is broken in that they simply overwrote what RFC 5322 and its predecessors had to say since many decades on "multiple From: requires Sender: to be set".
Your further fun you may want to look at RFC 6854 that was added *after* DKIM (RFC 6376).
There is now an Author field (RFC 9057), which slowly gets traction (it seems; i have seen Thunderbird email with it); but if that will have a part in a newer IETF standard regarding DKIM/etc i cannot tell.
(It will be something of the future, anyway.)

Greetings, and ciao!! 


(They "overwrote" in that they simply take the first address of From:, calling it 5322.From later on.  Oh, the irony!
The DKIM RFC for example says
```
If the SDID is not the same as the address in the From: header field
```
(note singular).  It talks in B.1.4 about a Kiosk software
```
put the reader's email address in the From header field of the message but put an address owned by the email posting site into the Sender header field.  The posting site can then sign the message, using the domain that is in the Sender field.
```
It talks before
```
Verifiers MAY process signatures in any order of their choice; for example, some Verifiers might choose to process signatures corresponding to the From field in the message header before other signatures.
```
It further says on verifiers
```
whereas another might try signatures by identities that match the contents of the From header field before trying other signatures.
```

Now comes a *however*, but only after noting that Sender: is not mentioned above
for verifiers.
DMARC comes into play, and it defines
```
   2.  Receivers compare the RFC5322.From address in the mail to the SPF
       and DKIM results, if present, and the DMARC policy in DNS.
```
We got really singular now.
```
   o  The domain name extracted from a message's RFC5322.From field is
      the primary identifier in the DMARC mechanism.
```
And
```
   In order to be processed by DMARC, a message typically needs to
   contain exactly one RFC5322.From domain (a single From: field with a
   single domain in it).  Not all messages meet this requirement, and
   handling of them is outside of the scope of this document.  Typical
   exceptions, and the way they have been historically handled by DMARC
   participants, are as follows:

   o  Messages with multiple RFC5322.From fields are typically rejected,
      since that form is forbidden under RFC 5322 [MAIL];

   o  Messages bearing a single RFC5322.From field containing multiple
      addresses (and, thus, multiple domain names to be evaluated) are
      typically rejected because the sorts of mail normally protected by
      DMARC do not use this format;

   o  Messages that have no RFC5322.From field at all are typically
      rejected, since that form is forbidden under RFC 5322 [MAIL];

   o  Messages with an RFC5322.From field that contains no meaningful
      domains, such as RFC 5322 [MAIL]'s "group" syntax, are typically
      ignored.

   The case of a syntactically valid multi-valued RFC5322.From field
   presents a particular challenge.  The process in this case is to
   apply the DMARC check using each of those domains found in the
   RFC5322.From field as the Author Domain and apply the most strict
   policy selected among the checks that fail.
```

Well this is so la-la.
But for example, this is what the dkimpy-milter does
(see https://git.launchpad.net/dkimpy-milter/tree/dkimpy_milter/__init__.py):
```
        if lname == 'from':
            fname, self.author = parseaddr(val)
            try:
                self.fdomain = self.author.split('@')[1].lower()
            except IndexError as er:
                pass # self.author was not a proper email address
            # This keeps non-ascii characters out of the From domain
            try:
                self.fdomain = str(codecs.encode(self.fdomain, 'ascii', 'replace'), 'ascii', 'ignore')
```
Etc.  This is only *one*, only the first address.
So it seems to my my answer is correct.

Ciao.

(P.S.: what happens with your milter if i sent a
```
From: a "<b>" <c@d> (<e@f>)
```
)?

> (P.S.: what happens with your milter if i sent a
> 
> ```
> From: a "<b>" <c@d> (<e@f>)
> ```
> 
> )?

Many sender issues like this one above Group from RFC 6854 can be abused. There is a new vulnerability notice of these various types of problems and suggested fix in a new Pull Request #10 

We have worked with a few ISP's to implement such extensive security features when outgoing email can be used with the `From` header concern primarily.


But to mention that the code comment using "Group<ADDR>:" is an invalid display-name.
It is

``` * group          = display-name ":" [group-list] ";" [CFWS]
 * display-name   = phrase
 * phrase         = 1*word / obs-phrase
 * word           = atom / quoted-string
 * atom           = [CFWS] 1*atext [CFWS]
 * atext          = ALPHA / DIGIT / "!" / "#" / "$" / "%" / "&" / "'" / "*" / "+" / "-" / "/" / "=" / "?" /
 *                      "^" / "_" / "`" / "{" / "|" / "}" / "~"; Printable US-ASCII less specials; used for "atom"s
 * quoted-string  = [CFWS] DQUOTE *([FWS] qcontent) [FWS] DQUOTE [CFWS]
 * qcontent       = qtext / quoted-pair
 * qtext          = %d33 / d35-91 / d93-126 / obs-qtext; Printable US-ASCII excluding "\" and the quote character
 * obs-qtext       = obs-NO-WS-CTL
 * quoted-pair    = ("\" (VCHAR / WSP)) / obs-qp
 * VCHAR  = %x21-7E; visible (printing) characters
 * obs-qp          = "\" (%d0 / obs-NO-WS-CTL / LF / CR); NOTE this implementation does not support NUL
 * obs-NO-WS-CTL   = %d1-8 / %d11 / %d12 / %d14-31 / %d127; US-ASCII controls except CR, LF, and whitespace
 * obs-phrase      = word *(word / "." / CFWS)
```

How does this fit your patch?  Also the issue with comments is not solved at all, as far as i looked.

(updated comment to fix formatting, and added obs-qtext which was missing.)

> But to mention that the code comment using "Group:" is an invalid display-name. It is
> 
> ```
>  * display-name   = phrase
>  * phrase         = 1*word / obs-phrase
>  * word           = atom / quoted-string
>  * atom           = [CFWS] 1*atext [CFWS]
>  * atext          = ALPHA / DIGIT / "!" / "#" / "$" / "%" / "&" / "'" / "*" / "+" / "-" / "/" / "=" / "?" /
>  *                      "^" / "_" / "`" / "{" / "|" / "}" / "~"; Printable US-ASCII less specials; used for "atom"s
>  * quoted-string  = [CFWS] DQUOTE *([FWS] qcontent) [FWS] DQUOTE [CFWS]
>  * qcontent       = qtext / quoted-pair
>  * qtext          = %d33 / d35-91 / d93-126 / obs-qtext; Printable US-ASCII excluding "\" and the quote character
>  * obs-qtext       = obs-NO-WS-CTL
>  * quoted-pair    = ("\" (VCHAR / WSP)) / obs-qp
>  * VCHAR  = %x21-7E; visible (printing) characters
>  * obs-qp          = "\" (%d0 / obs-NO-WS-CTL / LF / CR); NOTE this implementation does not support NUL
>  * obs-NO-WS-CTL   = %d1-8 / %d11 / %d12 / %d14-31 / %d127; US-ASCII controls except CR, LF, and whitespace
>  * obs-phrase      = word *(word / "." / CFWS)
> ```
> 
> How does this fit your patch? Also the issue with comments is not solved at all, as far as i looked.

Note sure I understand what you are referring.  This patch solves some of these problems and it is not carte blanche fix for all problems related to email sending identity related headers.  As I understand the miltefrom project is specifically helping Authenticated SMTP servers have mail filter options to enforce authenticated users from misuse of abuse of From: header specifically. 

As far as the updated `milterfrom` features, the software daemon can be now configured 
1. to reject email sent by authenticated user say `user@example.com` which contains multiple carets.
2. to reject email null sender in env from and authenticated user spoofing sender address


that's all. 

 